{% extends 'base.html' %}
{% block content %}
{% load static crispy_forms_tags %}
<div class="header">{{header}}</div>
<div class="row">
  <div class="col-lg-12">
    
      <form method='POST' action=''>{% csrf_token %}
        <div class="col-lg-4">
          {{form|crispy}}
        </div>
        <div class="col-lg-4">
          <input type="submit" value='Search'/>
        </div>
      </form>

  </div>

</div>

<br>

  <div class="display_table">
    <table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>QUANTITY IN STORE</th>
            <th>TIMESTAMP</th>
            <th>TIME UPDATED</th>
            <th>Actions</th>
          </tr>
        </thead>
      {% for instance in qs %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.category}}</td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
            <td><a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a></td>
            <td>{{instance.timestamp}}</td>
            <td>{{instance.last_updated}}</td>
            <td><a href="{% url 'delete_item' instance.pk %}"><img src="{% static 'img/delete.png' %}" height="20"></a>
            </td>
          </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}